#top {
	height:100px;
	width:100%;
	background-color:#FFFFFF;
	text-align:center;
	font-family:cursive;
	padding-top:40px;
	margin:auto;
}

#links {
	height:100%;
	width:80%;
	background-color:#9AA9AA;
	border-image:initial;
	margin:auto;
}

.body {
	height:1000px;
	width:100%;
	background-color:#999EEE;
}

#foot {
	height:200px;
	width:100%;
	background-color:#000000;
	color:#FFFFFF;
}

td {
	width:200px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	border-image:initial;
	border:1px solid #000000;
}

a {
	text-decoration:none;
	color:#FFFFFF;
}

a:hover {
	color:#FF0000;
}

#table1 {
	width:100%;
	background-color:#222222;
	border-image:initial;
	border:2px solid #000000;
}

#mainbody {
	padding-top:20px;
	text-align:center;
	height:900px;
	width:100%;
}

#leftside {
	width:10%;
	float:left;
	height:100%;
	background-color:#FFFFFF;
}

#rightside {
	width:10%;
	float:right;
	height:100%;
	background-color:#FFFFFF;
}

