div.transbox {
	padding-top:30px;
	height:10%;
	width:100%;
	opacity:0.6;
	background-color:#151515;
	color:#FFFFFF;
}

div.transbox-mid {
	padding-top:30px;
	height:35%;
	width:35%;
	position:absolute;
	opacity:0.8;
	color:#FFFFFF;
}

div.transbox-mid2 {
	padding-top:30px;
	height:30%;
	width:50%;
	opacity:0.6;
	color:#FFFFFF;
	background-color:#151515;
}

table {
	margin:auto;
}

a {
	color:#FFFFFF;
	text-decoration:none;
}

a:hover {
	text-decoration:none;
	color:#FF0000;
}

.footer {
	height:50%;
	opacity:0.8;
	background-color:#000000;
	color:#FFFFFF;
	text-align:center;
	margin:auto;
}

.t1 {
	text-align:center;
	height:100%;
	width:100%;
	padding-bottom:30%;
}

.t2 {
}

td {
	padding-left:100px;
	padding-right:100px;
}

html {
	background-image:url(images/bamboo1.jpg);
	background-attachment:fixed;
	background-color:#000000;
	-webkit-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-moz-background-size:cover;
	background-position:50% 50%;
	background-position-x:50%;
	background-position-y:50%;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
}

