div {
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-o-border-top-left-radius:5px;
	-ms-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	-o-border-top-right-radius:5px;
	-ms-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	-ms-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	-ms-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
}

#top {
	height:200px;
	width:100%;
	background-color:#9AA000;
	margin:auto;
}

#links {
	height:100px;
	width:90%;
	background-color:#BBB000;
	border-image:initial;
	margin:auto;
}

.body {
	height:800px;
	width:100%;
	background-color:#999AAA;
}

#foot {
	height:200px;
	width:100%;
	background-color:#000EEE;
}

td {
	width:200px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	border-image:initial;
	border:1px solid #000000;
}

#left-links {
	height:100px;
	width:10%;
	background-color:#FF0000;
	float:left;
}

#right-links {
	height:100px;
	width:10%;
	background-color:#FF0000;
	float:right;
}

a {
	text-decoration:none;
}

a:hover {
}

table {
	padding-bottom:30px;
	border-image:initial;
	border:2px solid #000000;
}

